{% extends "base.html" %}

{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% bootstrap_messages %}
{% bootstrap_form_errors %}

{% block content %}
<h1>Search WA properties for sale</h1>
<form role="form" method="post">
    {{ form.non_field_errors }}
    {% csrf_token %}
    {{ form.media }}
    {{ form.non_field_errors }}
    {{ form.errors }}
    {% bootstrap_form form %}

    {% buttons %}
        <button type="submit" class="btn btn-primary">Submit</button>
    {% endbuttons %}

</form>
{% endblock %}
