{% extends "base.html" %}
{% load static %}
{% block content %}

<h3>Search Results</h3>
<p></p>

{% if response_data %}
    {% for i in response_data %}
            <img src="{{ i.pic }}" class="img-fluid">

            <div class="col-md-auto mb-0">
                Display price: {{ i.displayPrice }}
            </div>
            <div class="col-md-auto mb-0">
                Property type: {{ i.propertyType }}
            </div>
            <div class="col-md-auto mb-0">
                Bathrooms: {{ i.bathrooms|stringformat:'d' }}
            </div>
            <div class="col-md-auto mb-0">
                Bedrooms: {{ i.bedrooms|stringformat:'d' }}
            </div>
            {% if i.carspaces %}
                <div class="col-md-auto mb-0">
                    Car spaces: {{ i.carspaces }}
                </div>
            {% endif %}
            <div class="col-md-auto mb-0">
            <p>{{ i.displayableAddress }}</p>
            </div>
            {% if i.landArea %}
                <div class="col-md-auto mb-0">
                    Land size:  {{ i.landArea }}
                </div>
            {% endif %}
            <div class="col-md-auto mb-0">
                <a href="http://www.domain.com.au/{{ i.listing.listingSlug }}">{{ i.listingSlug }}</a>
            </div>
            <p></p>
    {% endfor %}
{% else %}
        <p>No properties match your search criteria</p>
{% endif %}
<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item"><a class="page-link" href="?page=1">1</a></li>
        <li class="page-item"><a class="page-link" href="?page=2">2</a></li>
        <li class="page-item"><a class="page-link" href="?page=3">3</a></li>
        <li class="page-item"><a class="page-link" href="?page=4">4</a></li>
        <li class="page-item"><a class="page-link" href="?page=5">5</a></li>
    </ul>
</nav>
{% endblock %}
